<h3>Organization</h3>

<%= @organization.name %> <br/><br/>

<%= link "Back to Organizations", to: organization_path(@conn, :index) %> | 
<%= link "Edit Candidate", to: organization_path(@conn, :show, @organization.id) %>

